img {
    height: 300px;
    width: 400px;
}

div.post-header {
    display: flex;
}
div.post-icons {
    display: flex;
}
div.postcard {
    background-color: white;
    height: 550px;
    width: 400px;
}

body {
    background-color: black;
}